aiobotocore==2.4.2
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
botocore==1.27.59
cffi==1.15.1
charset-normalizer==3.1.0
croniter==1.3.10
defusedxml==0.7.1
distlib==0.3.6
distro==1.8.0
Django==4.1.7
fastjsonschema==2.16.3
filelock==3.9.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.3.0
greenlet==2.0.2
idna==3.4
isoduration==20.11.0
Jinja2==3.1.2
jmespath==1.0.1
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_scheduler==1.3.1
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
MarkupSafe==2.1.2
mistune==2.0.5
multidict==6.0.4
nbclient==0.7.3
nbconvert==7.3.0
nbformat==5.8.0
numpy==1.24.2
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
Pillow==10.1.0
platformdirs==3.0.0
prometheus-client==0.16.0
psutil==5.9.4
pycparser==2.21
pydantic==1.10.7
Pygments==2.14.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2022.7.1
pywin32==306
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
s3fs==2023.3.0
Send2Trash==1.8.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==1.4.47
sqlparse==0.4.3
tabula-py==2.7.0
terminado==0.17.1
tinycss2==1.2.1
tornado==6.2
traitlets==5.9.0
typing_extensions==4.5.0
tzdata==2022.7
uri-template==1.2.0
urllib3==1.26.15
virtualenv==20.19.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
wrapt==1.15.0
xlwt==1.3.0
yarl==1.8.2
