<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div>

    <h1>This is my about page</h1>
    <input type="text">

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam corporis qui magni explicabo magnam voluptate eveniet rem obcaecati, voluptates omnis temporibus voluptatum assumenda quos eligendi atque repudiandae inventore impedit ipsam dolore perspiciatis soluta, similique consequuntur facilis quis! Doloremque ad, ex placeat dolorem corporis quae natus tempore. Excepturi maxime quos facilis.
<button>Contact Us</button>

</div>

</body>
</html>