<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    

    <div class="container" style="text-align:center">
        {% include "navbar.html" %}
        
        <h1>About:-This is hour official website</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor alias ut eum asperiores nisi inventore id repellat unde tenetur explicabo nostrum nam at quod ullam cum velit eligendi corporis consequatur voluptatem praesentium molestiae, ipsa amet! Tempora nemo dolorum cum ipsa quisquam accusamus voluptatum a, doloremque est praesentium vitae deleniti magnam.</p>

        <button>Contact Us</button>
    </div>
</body>
</html>